<h1>Todo-list</h1>

<input type="text" placeholder="What do you want to do?"> (Enter to add)
<ul style="padding-left: 0px;">
  <li style="list-style-type: none;">
    <input type="checkbox" id="cbox1" value="first_checkbox"> <label for="cbox1">Make the todo-list app</label>
  </li>
  <li style="list-style-type: none;">
    <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Make Weather application (Ember.js)</label>
  </li>
  <li style="list-style-type: none;">
    <input type="checkbox" id="cbox3" value="third_checkbox"> <label for="cbox3">Make Weather application (Android)</label>
  </li>
</ul>
